{%- assign tab_1 = product.metafields.custom_fields["our_story_text"] -%}
{%- assign tab_2 = product.metafields.custom_fields["nutrition_facts_text"] -%}
{%- assign tab_3 = product.metafields.custom_fields["ingredients_text"] -%}
{%- assign is_first_tab_heading = true -%}
{%- assign is_first_tab_content = true -%}
{%- assign tabs_count = 0 -%}

{%- if tab_1 != blank or tab_2 != blank or tab_3 != blank -%}
	<div class="product__tabs">
		<div class="container">
			<div class="product-tabs js-product-tabs{% if tabs_count == 1 %} product-tabs--single{% endif %}">
				<div class="product-tabs-nav">
					{%- if tab_1 != blank -%}
						<button class="product-tab-title{% if is_first_tab_heading %} is-active{% endif %}">
							OUR STORY
							<span class="button-toggle">
	{%- render 'icon-plus' -%}
	{%- render 'icon-minus' -%}
</span>
						</button>
						{%- if is_first_tab_heading -%}
							{%- assign is_first_tab_heading = false -%}
						{%- endif -%}
					{%- endif -%}

					{%- if tab_2 != blank -%}
						<button class="product-tab-title{% if is_first_tab_heading %} is-active{% endif %}">
							NUTRITION FACTS
							<span class="button-toggle">
	{%- render 'icon-plus' -%}
	{%- render 'icon-minus' -%}
</span>
						</button>
						{%- if is_first_tab_heading -%}
							{%- assign is_first_tab_heading = false -%}
						{%- endif -%}
					{%- endif -%}
					{%- if tab_3 != blank -%}
						<button class="product-tab-title{% if is_first_tab_heading %} is-active{% endif %}">
							INGREDIENTS
							<span class="button-toggle">
	{%- render 'icon-plus' -%}
	{%- render 'icon-minus' -%}
</span>
						</button>
						{%- if is_first_tab_heading -%}
							{%- assign is_first_tab_heading = false -%}
						{%- endif -%}
					{%- endif -%}
				</div>

				<div class="product-tabs-contents">
					{%- if tab_1 != blank -%}
						<div class="product-tab-content rte{% if is_first_tab_content %} is-active{% endif %}">{{ tab_1 }}</div>
						{%- if is_first_tab_content -%}
							{%- assign is_first_tab_content = false -%}
						{%- endif -%}
					{%- endif -%}
					{%- if tab_2 != blank -%}
						<div class="product-tab-content rte{% if is_first_tab_content %} is-active{% endif %}">{{ tab_2 }}</div>
						{%- if is_first_tab_content -%}
							{%- assign is_first_tab_content = false -%}
						{%- endif -%}
					{%- endif -%}
					{%- if tab_3 != blank -%}
						<div class="product-tab-content rte{% if is_first_tab_content %} is-active{% endif %}">{{ tab_3 }}</div>
						{%- if is_first_tab_content -%}
							{%- assign is_first_tab_content = false -%}
						{%- endif -%}
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
{%- endif -%}