<section class="insta-feed">
  <h3 class="title">@COOLHAUS</h3>
  <div class='social-widget-wrapper' data-widget-id='25075'></div>
</section>

{% schema %}
  {
    "name": "Instagram Slider",
    "settings": [],
    "presets": [
      {
        "name": "Instagram Slider",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
